In [78]:
import re
import pandas as pd
pd.set_option('display.max_colwidth', None)

In [53]:
df = pd.read_csv("../data/appropriateness-corpus/appropriateness_corpus_full.csv")

In [54]:
df.count()

post_id                    2191
source_dataset             2191
issue                      2191
post_text                  2191
Inappropriateness          2191
Toxic Emotions             2191
Excessive Intensity        2191
Emotional Deception        2191
Missing Commitment         2191
Missing Seriousness        2191
Missing Openness           2191
Missing Intelligibility    2191
Unclear Meaning            2191
Missing Relevance          2191
Confusing Reasoning        2191
Other Reasons              2191
Detrimental Orthography    2191
Reason Unclassified        2191
dtype: int64

In [56]:
# describe the dataset
df.describe()

,post_id,source_dataset,Inappropriateness,Toxic Emotions,Excessive Intensity,Emotional Deception,Missing Commitment,Missing Seriousness,Missing Openness,Missing Intelligibility,Unclear Meaning,Missing Relevance,Confusing Reasoning,Other Reasons,Detrimental Orthography,Reason Unclassified
count,2191.000000,2191.000000,2191.000000,2191.000000,2191.000000,2191.000000,2191.000000,2191.000000,2191.000000,2191.000000,2191.000000,2191.000000,2191.000000,2191.000000,2191.000000,2191.000000
mean,1095.000000,0.857599,1.730717,0.957097,0.727065,0.732999,1.256960,0.288909,1.182109,1.315838,0.822912,0.895938,0.317663,0.188955,0.132360,0.058421
std,632.631541,0.943512,1.871332,1.669217,1.540738,1.532718,1.834267,1.013633,1.820274,1.853719,1.612634,1.658557,1.081793,0.843934,0.709883,0.479974
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,547.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1095.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1642.500000,2.000000,4.000000,1.000000,0.000000,0.000000,4.000000,0.000000,4.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2190.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000

In [57]:
# select rows where 'Inappropriateness' is either 0 and 1; then, create another column 'Label' with the values appropriate and inappropriate based on the value of 'Inappropriateness'
df = df[df['Inappropriateness'].isin([0, 1])]
df['Label'] = df['Inappropriateness'].apply(lambda x: 'appropriate' if x == 0 else 'inappropriate')
df = df.drop(['source_dataset', 'Inappropriateness'], axis=1)

In [58]:
df.count()

post_id                    1321
issue                      1321
post_text                  1321
Toxic Emotions             1321
Excessive Intensity        1321
Emotional Deception        1321
Missing Commitment         1321
Missing Seriousness        1321
Missing Openness           1321
Missing Intelligibility    1321
Unclear Meaning            1321
Missing Relevance          1321
Confusing Reasoning        1321
Other Reasons              1321
Detrimental Orthography    1321
Reason Unclassified        1321
Label                      1321
dtype: int64

In [61]:
# rename post_text to argument
df = df.rename(columns={'post_text': 'argument'})
df.sample(4)

,post_id,issue,argument,Toxic Emotions,Excessive Intensity,Emotional Deception,Missing Commitment,Missing Seriousness,Missing Openness,Missing Intelligibility,Unclear Meaning,Missing Relevance,Confusing Reasoning,Other Reasons,Detrimental Orthography,Reason Unclassified,Label
1645,1645,Do you think britain should compensate the nations it colonised?:,"Strangely enough in New Zealand the crown has been made to pay compensation for breach of treaty with the intengenous people. Despite the treaty not being recognised at international law. There have been a number of other treaties established during the colonising period, which if New Zelanad is precedent should burden the common wealth. Personally I am in the view that these indiginous peoples did not have the state sovereignty and capacity to enter into international relations that has been a corner stone in international law. I think that if Britain was to compensate pruely for war losses, then arguably America would owe Vietnam for breach of state sovereignty, Germany would owe Russia for breach of non agression pact (contract), and Greece would owe Iran for breach of Kings peace. I think there would be a indeterminate burden of liability and any orders to make effect such a action would be unjust on the world as it exists today",0,0,0,0,0,0,0,0,0,0,0,0,0,appropriate
561,561,Is there a law in louisiana that require a two week notice before quiting a job?:,"The first answerer should be correct. I don't know Louisiana law, but I've never heard of a state putting something like that into law. Instead, it is a common courtesy that employers and employees typically offer two weeks notice before terminating. If you want to maintain a good relationship with your employer, or want a good reference from them later, it's advisable to give two-weeks notice, but I'd be shocked to hear that it is required.",0,0,0,0,0,0,0,0,0,0,0,0,0,appropriate
1724,1724,Is the school uniform a good or bad idea:,Another reason for wearing a school uniform is good is that the uniform will always be decent. It will cover every part of the body that the school doesnt want the children to show and the students would not be cauntious about what they are wearing.,0,0,0,0,0,0,0,0,0,0,0,0,0,appropriate
506,506,Is porn wrong:,"NO. I am a female who watches porn.\r\nIt does not bother me if my boyfriend watches porn.\r\nI think its natural for people to have sexual desires.\r\nIf people feel uncomfortable with the idea, just don't watch it.\r\nBut, people who love porn can watch all the videos they want and I see no wrong with that.",0,0,0,0,0,0,0,0,0,0,0,0,0,appropriate

In [62]:
# if Label is inappropriate, then take columns with values 1 and put their names in a list called Reasons
df['Reasons'] = df.apply(lambda x: [col for col in df.columns if x[col] == 1 and col not in ['Label', 'post_id', 'issue', 'argument']], axis=1)

In [69]:
df[['issue', 'argument', 'Label', 'Reasons']].sample(4)

,issue,argument,Label,Reasons
1254,"Business review: 1.0 stars\r\nbusiness name: tim hortons. city: montréal. categories: restaurants, food, fast food:","I'll start off by saying that this was my first time at a Tim Horton's and had heard good things. We went for breakfast before our train back to the States. I had the BELT (Bacon, Egg, Lettuce, Tomato) on a pretzel bagel. The bagel did not taste fresh and the eggs could barely be found. My girlfriend had the bacon, egg and cheese on an English muffin. This thing was TINY and would have made an Egg McMuffin look big.\r\n\r\nSomehow they ran out of hash browns but didn't realize it until after we paid. They offered us a doughnut instead but we didn't want that. The coffee was so hot that you couldn't hold the cup more than 10 seconds. Because that we had to throw it out. We were already delayed and had to catch a train so we chalked it up as a loss.",appropriate,[]
239,Should the drinking age be lowered to 18?????:,You know I really don't see why not? After all people in Europe are allowed to drink at the age of 16-Germany---and in Mexico the drinking age was 18 until now that it's 21. I think the reason why it's 21 is because people in the US are too freaking retarded and dont' know how to act right. Why in foreign countries the drinking age is lower and they actually have less accidents or anyother problems? Think about that!,inappropriate,"[Toxic Emotions, Emotional Deception]"
1020,Can i sue my siblings for mishandling my father estate?:,"the executor of the estate is supposed to divie up the remains equally, i think; and that means for everything that is sold you get an equal share. if they sold it, it doesnt matter if they already spent their portion of what they got, they still owe you your share. you can sue them. its a shame people act so selfishly and unethical towards each other when their parent dies.",appropriate,[]
292,Is it really noble to steal from the rich to give to the poor? stance: yes:,"I think it depends on how the rich made their money. Some rich people came across their money honestly. They should be left alone. However, alot of rich people have come across significant portions of their money through dishonest means...by hiring 'illegal alien' workers who work for maybe $1-2 per hour instead of hiring a legal worker who they'd be required to pay minum wage (Wal-Mart has been found guilty of this several times over the past years especially in hiring their janitorial staffs), by cheating on their tax returns, by pulling other accounting fiascos (just look at Enron), etc. Any rich person who has come across money through dishonest means...I'd say steal it all and give it to the poor because that's likely who they were taking that money from.",appropriate,[]

In [70]:
# count the number of inappropriate and appropriate arguments
df['Label'].value_counts()

Label
appropriate      1009
inappropriate     312
Name: count, dtype: int64

In [73]:
inappropriate = df[df['Label'] == 'inappropriate'][df['Reasons'].apply(lambda x: len(x) > 0)]

/tmp/ipykernel_143570/542933495.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  inappropriate = df[df['Label'] == 'inappropriate'][df['Reasons'].apply(lambda x: len(x) > 0)]

In [112]:
inappropriate.count()

post_id                    214
issue                      214
argument                   214
Toxic Emotions             214
Excessive Intensity        214
Emotional Deception        214
Missing Commitment         214
Missing Seriousness        214
Missing Openness           214
Missing Intelligibility    214
Unclear Meaning            214
Missing Relevance          214
Confusing Reasoning        214
Other Reasons              214
Detrimental Orthography    214
Reason Unclassified        214
Label                      214
Reasons                    214
dtype: int64

In [99]:
inappropriate.to_csv('../data/appropriateness-corpus/inappropriate_with_reasons_full_agreement.csv', index=False)

In [129]:
i_df = pd.read_csv('../data/appropriateness-corpus/inappropriate_with_reasons_full_agreement.csv')

In [133]:
i_df[i_df['post_id']==217]

,post_id,issue,argument,Toxic Emotions,Excessive Intensity,Emotional Deception,Missing Commitment,Missing Seriousness,Missing Openness,Missing Intelligibility,Unclear Meaning,Missing Relevance,Confusing Reasoning,Other Reasons,Detrimental Orthography,Reason Unclassified,Label,Reasons
28,217,Christianity or atheism:,"Christianity is perhaps the most vile ideal to poison the minds of men. It's uses, motives, and fictional stories are quite plainly immoral.\r\n(\r\n(\r\n( 3956.Christopher_Hitchens)",1,4,4,4,0,4,4,0,0,4,0,0,0,inappropriate,['Toxic Emotions']